<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Steve Robbins - All rights reserved.
 * See LICENSE.md bundled with this module for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Steverobbins_Redismanager::system_redis" title="Redis Management" module="Steverobbins_Redismanager" sortOrder="31" parent="Magento_Backend::system_tools" action="redismanager/index/index" resource="Steverobbins_Redismanager::redis" />
    </menu>
</config>
